In [2]:
import pandas as pd
import numpy as np

In [7]:
d = {'one' : [1., 2., 3., 4.], 'two' : [4., 3., 2., 1.]}
df = pd.DataFrame(d)
#df = pd.ExcelFile("C:\Users\LocalUser\Downloads\train.csv")

In [8]:
df

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [37]:
df.sample(frac=0.25, random_state = 4)

   one  two
0  1.0  4.0